{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "keda-waiting-page.fullname" . }}-reader
  labels:
    {{- include "keda-waiting-page.labels" . | nindent 4 }}
rules:
  - apiGroups: [""]
    resources: ["pods"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["pods/log"]
    verbs: ["get"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "keda-waiting-page.fullname" . }}-reader
  labels:
    {{- include "keda-waiting-page.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "keda-waiting-page.fullname" . }}-reader
subjects:
  - kind: ServiceAccount
    name: {{ include "keda-waiting-page.serviceAccountName" . }}
    namespace: {{ .Release.Namespace }}
{{- end }}
