apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "shannon.fullname" . }}-data
  labels:
    {{- include "shannon.labels" . | nindent 4 }}
spec:
  accessModes:
    - {{ .Values.persistence.accessMode | quote }}
  resources:
    requests:
      storage: {{ .Values.persistence.size | quote }}
