apiVersion: v1
kind: Service
metadata:
  name: {{ include "shannon.fullname" . }}
  labels:
    {{- include "shannon.labels" . | nindent 4 }}
spec:
  selector:
    {{- include "shannon.selectorLabels" . | nindent 4 }}
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
