image:
  repository: ghcr.io/matszpk/simple-irc-server
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "latest"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: LoadBalancer
  port: 6667

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    # IRC uses TCP, not HTTP, so we need TCP passthrough
    nginx.ingress.kubernetes.io/backend-protocol: "TCP"
  hosts:
    - host: irc.zacharie.org
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

config:
  # Config content to be placed in config.toml
  content: |
    # Simple IRC Server configuration
    server_name = "irc.zacharie.org"
    bind_address = "0.0.0.0:6667"
    
    [logger]
    level = "info"
