# Fundy Helm Chart Default Values

global:
  imagePullSecrets: []

replicaCount:
  analytics: 1
  jobs: 1
  reports: 1
  users: 1
  frontend: 1
  optimizer: 1
  builder: 1
  data: 1

images:
  analytics:
    repository: ghcr.io/stainly/fundy/analytics
    tag: latest
    pullPolicy: IfNotPresent
  jobs:
    repository: ghcr.io/stainly/fundy/jobs
    tag: latest
    pullPolicy: IfNotPresent
  reports:
    repository: ghcr.io/stainly/fundy/reports
    tag: latest
    pullPolicy: IfNotPresent
  users:
    repository: ghcr.io/stainly/fundy/users
    tag: latest
    pullPolicy: IfNotPresent
  frontend:
    repository: ghcr.io/stainly/fundy/frontend
    tag: latest
    pullPolicy: IfNotPresent
  optimizer:
    repository: ghcr.io/stainly/fundy/optimizer
    tag: latest
    pullPolicy: IfNotPresent
  builder:
    repository: ghcr.io/stainly/fundy/builder
    tag: latest
    pullPolicy: IfNotPresent
  data:
    repository: ghcr.io/stainly/fundy/data
    tag: latest
    pullPolicy: IfNotPresent

services:
  type: ClusterIP
  ports:
    backend: 80
    frontend: 3000

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts: []
  tls: []

resources: {}
env:
  clickhouse: {}
  databases: {}
  aws:
    s3: {}
  cognito: {}
  apiKeys: {}
  contactForm: {}
  session: {}
  monitoring: {}
  optimization: {}
  backtesting: {}
  baseUrl: "http://localhost:8000"

healthcheck:
  enabled: true
  path: /health
  initialDelaySeconds: 40
  periodSeconds: 30
  timeoutSeconds: 10
  failureThreshold: 3

podAnnotations: {}
podSecurityContext: {}
securityContext: {}
nodeSelector: {}
tolerations: []
affinity: {}
