# Fundy Helm Chart Values

global:
  imagePullSecrets:
    - name: regcred

replicaCount:
  analytics: 1
  jobs: 1
  reports: 1
  users: 1
  frontend: 1
  optimizer: 1
  builder: 1
  data: 1

images:
  analytics:
    repository: ghcr.io/stainly/fundy/analytics
    tag: sha-6e9f6c2
    pullPolicy: IfNotPresent
  jobs:
    repository: ghcr.io/stainly/fundy/jobs
    tag: sha-6e9f6c2
    pullPolicy: IfNotPresent
  reports:
    repository: ghcr.io/stainly/fundy/reports
    tag: sha-6e9f6c2
    pullPolicy: IfNotPresent
  users:
    repository: ghcr.io/stainly/fundy/users
    tag: sha-6e9f6c2
    pullPolicy: IfNotPresent
  frontend:
    repository: ghcr.io/stainly/fundy/frontend
    tag: sha-6e9f6c2
    pullPolicy: IfNotPresent
  optimizer:
    repository: ghcr.io/stainly/fundy/optimizer
    tag: sha-6e9f6c2
    pullPolicy: IfNotPresent
  builder:
    repository: ghcr.io/stainly/fundy/builder
    tag: sha-6e9f6c2
    pullPolicy: IfNotPresent
  data:
    repository: ghcr.io/stainly/fundy/data
    tag: sha-0f03eae
    pullPolicy: IfNotPresent

services:
  type: ClusterIP
  ports:
    backend: 80
    frontend: 3000

ingress:
  enabled: true
  className: "traefik"
  annotations: {}
  hosts:
    - host: fundy.p.zacharie.org
      paths:
        - path: /api/analytics
          pathType: Prefix
          service: analytics
        - path: /api/jobs
          pathType: Prefix
          service: jobs
        - path: /api/reports
          pathType: Prefix
          service: reports
        - path: /api/users
          pathType: Prefix
          service: users
        - path: /api/builder
          pathType: Prefix
          service: builder
        - path: /api/data
          pathType: Prefix
          service: data
        - path: /
          pathType: Prefix
          service: frontend
  tls: []

resources:
  analytics: {}
  jobs: {}
  reports: {}
  users: {}
  frontend: {}
  optimizer: {}
  builder: {}
  data: {}

env:
  clickhouse:
    host: ""
    port: ""
    username: ""
    password: ""
  databases:
    builder: ""
    jobs: ""
    users: ""
  aws:
    s3:
      regionName: ""
      endpointUrl: ""
      accessKeyId: ""
      secretAccessKey: ""
      storageBucketName: ""
  cognito:
    clientId: ""
    cognitoDomain: ""
    authority: ""
    accessKey: ""
    secretAccessKey: ""
    userPoolId: ""
    jwksUrl: ""
  apiKeys:
    gleap: ""
    gleapIdentitySecret: ""
    amplitude: ""
    muiLicense: ""
    openAi: ""
    postmark: ""
  contactForm:
    to: ""
    from: ""
    subject: ""
  session:
    secret: ""
  monitoring:
    sentryBackendDsn: ""
    otelExporterOtlpEndpoint: ""
  optimization:
    parallelization: "8"
  backtesting:
    parallelization: "8"
  baseUrl: "http://localhost:8000"

healthcheck:
  enabled: true
  path: /health
  initialDelaySeconds: 40
  periodSeconds: 30
  timeoutSeconds: 10
  failureThreshold: 3

podAnnotations: {}
podSecurityContext: {}
securityContext: {}
nodeSelector: {}
tolerations: []
affinity: {}
