apiVersion: v1
kind: Service
metadata:
  labels:
    app: agent
  name: agent
  namespace: {{ .Release.Namespace }}
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: http
    port: {{ .Values.agent.service.port }}
    protocol: TCP
    targetPort: {{ .Values.agent.service.port }}
  selector:
    app: agent
  sessionAffinity: None
  type: ClusterIP
