{{- if .Values.admin.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "appflowy-sbx.fullname" . }}-admin
  labels:
    {{- include "appflowy-sbx.labels" . | nindent 4 }}
    app.kubernetes.io/component: admin
spec:
  replicas: {{ .Values.admin.replicas }}
  selector:
    matchLabels:
      {{- include "appflowy-sbx.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: admin
  template:
    metadata:
      labels:
        {{- include "appflowy-sbx.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: admin
    spec:
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: admin
        image: "{{ .Values.admin.image.repository }}:{{ .Values.admin.image.tag }}"
        imagePullPolicy: {{ .Values.admin.image.pullPolicy }}
        ports:
        - name: http
          containerPort: 3000
          protocol: TCP
        env:
          - name: APPFLOWY_GOTRUE_BASE_URL
            value: "http://192.168.0.199:9999"
          - name: APPFLOWY_BASE_URL
            value: "http://192.168.0.198:8000"
        {{- with .Values.admin.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
{{- end }}
---
{{- if .Values.admin.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "appflowy-sbx.fullname" . }}-admin
  labels:
    {{- include "appflowy-sbx.labels" . | nindent 4 }}
    app.kubernetes.io/component: admin
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "appflowy-sbx.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: admin
{{- end }}
